@import "base";

header{
  @include grid(20);
  border-top: solid 5px $purple_dk;
  margin-bottom: 30px;



  h1{
    @include grid(5);
    @include alpha;
    margin-top: 23px;
    
    .button_inscricao{
      padding-top: 10px;
      padding-bottom: 10px;
      text-align: center;
      font-size: 16px;
      background-color: #3f223a;
      margin-top: 50px;
      a{
        display: block;
        color: #fff;
        font-weight:bold;
        &:hover, :active{
          color: #fff;
          font-weight:bold;
        }
      }
    }
  }

  a{
    display: block;
  }

  ul{
    @include grid(3);
    @include push(1);
    border-left: solid 2px $beige;
    font-size: 14px;
    text-align: left;
    padding-left: 0;
    padding-top: 71px;
    
    li{
      margin-top: 2.4px;

      &:first-child{
        margin-top: 0;
      }
    }

    a{
      color: $purple_dk;
      padding: 5px 0 4px 10px;

      &:hover,
      &[data-active=true]{
        text-decoration: none;
        color: $purple_dk;
        background: $beige;
      }
    }
  }

  .social{
    @include grid(4);
    @include push(8);
    margin-top: 20px;

    p{
      text-transform: uppercase;
      font-weight: $light;
      font-size: 18px;
      color: $blue;
      float: left;
      margin-right: 9px;
    }

    a{
      margin-top: 2px;
    }

    img{
      float: left;
      width: 17px;
    }
  }

  img.logo-ifl{
    @include grid(4);
    @include push(4);
    margin-top: 80px;
  }

  section.local-date{
    @include grid(10);
    @include push(2);
    text-align: right;
    font-size: 20px;
    color: $purple_dk;
    margin-top: 31px;
    
    b{
      font-size: 30px;
    }

    p{
      font-size: 20px;
      margin-bottom: 0;
    }
  }
}