<%= simple_form_for(@news, url: @news.new_record? ? publisher_news_path : update_publisher_news_path,
      as: 'news', html: { class: 'form-horizontal' },
      wrapper: :horizontal_form,
      wrapper_mappings: {
        check_boxes: :horizontal_radio_and_checkboxes,
        radio_buttons: :horizontal_radio_and_checkboxes,
        file: :horizontal_file_input,
        boolean: :horizontal_boolean
      }) do |f|%>
  <%= f.input :title %>
  <%= f.input :link %>
  <%= f.input :content, as: :text, input_html: { rows: 10 } %>

  <div class='input-wrapper medium'>
    <%= f.button :submit, 'Cadastrar', 'data-disable-with' => '...' %>
  </div>
<% end -%>

