<tr>
  <td> <%= news_counter.succ %></td>
  <td> <%= news.title %></td>
  <td> <%= news.link %></td>
  <td> <%= truncate(news.content) %></td>
  <td> <%= link_to "editar", edit_publisher_news_path(news) %></td>
</tr>
