<%= paginate @news %>

<div class="clearfix">
  <%= link_to 'Nova notícia', new_publisher_news_path, class: 'btn btn-primary' %>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th>#</th>
      <th>Título</th>
      <th>Link</th>
      <th>Conteúdo</th>
      <th>Ação</th>
    </tr>
  </thead>

  <tbody>
    <%= render partial: 'news', collection: @news %>
  </tbody>
</table>

<%= paginate @news %>
