<section id='certificate'>
  <header>
    <h1>1º Fórum Liberdade e Democracia de São Paulo</h1>
    <h3>Qual Brasil Queremos?</h3>
    <h4>Certificado</h4>
  </header>
  <p class="text first-line">
    O Instituto de Formação de Líderes de São Paulo - IFL/SP certifica que o(a) senhor(a)
  </p>
  
  <h2>
    <%= params[:name] %>
  </h2>
  
  <p class="text second-line">
    participou do I Fórum Liberdade e Democracia de São Paulo, realizado no dia 9 de setembro de </br> 2014, no Theatro NET SP do Shopping Vila Olímpia, em São Paulo, com carga horária de 5 horas.
  </p>

  <p class='text date'>
    São Paulo, 09 de setembro de 2014.
  </p>
  <%= image_tag('certificado.jpg') %>

  <footer>
    <%= link_to "Imprimir Certificado", 'javascript://', class: 'print' %>
  </footer>
</section>