<section class='banners cycle-slideshow' data-cycle-fx="scrollHorz" data-cycle-pause-on-hover="true" data-cycle-speed="500" data-cycle-slides='article' data-cycle-prev=".arrow.prev" data-cycle-next=".arrow.next">
  <article>
    <%=link_to image_tag('banner_01.jpg'), '#'%>
  </article>
  <article>
    <%=link_to image_tag('banner_03.jpg'), 'https://partio.com.br/projeto/2-forum-liberdade-e-democracia-2015/', target: "blank" %>
  </article>
  <%=link_to 'javascript://', class: 'arrow prev' do%>
    <%= fa_icon "arrow-circle-left" %>
  <% end -%>
  <%=link_to 'javascript://', class: 'arrow next' do %>
    <%= fa_icon "arrow-circle-right" %>
  <% end -%>

</section>

<article class='award'>
  <h2>Prêmio Liberdade</h2>
  <figure>
    <%= image_tag('palestrantes/flavio_augusto.png', alt: 'Flavio Augusto receberá o Prêmio Liberdade') %>
  </figure>
  <section class='text'>
    <h3>Flávio Augusto</h3>
    <p>Iremos homenagear com o Prêmio Liberdade o empreendedor Flávio Augusto. Flávio foi eleito pelos brasileiros como o líder nacional mais admirado e é fundador da Wise Up, dos portais Geração de Valor e meuSucesso.com e dono do clube de futebol norte-americano Orlando City.</p>
  </section>
</article>

<article class="last-news">
  <h2>últimas notícias</h2>

  <ul>
    <%= render partial: 'new', collection: @news%>
  </ul>

  <%=link_to 'Mais Notícias', news_path, class: 'more-news'%>
</article>

<article class="about">
  <h2>sobre o fórum</h2>

  <p itemprop="description">O Fórum Liberdade e Democracia de SP é promovido pelo Instituto de Formação de Líderes de São Paulo (IFL/SP) com o objetivo de apresentar um debate de ideias para os problemas do Brasil, a partir das perspectivas econômica, política e social, e teve sua primeira edição em 2014. </p>
  <p itemprop="description">O evento também acontece na cidade de Belo Horizonte (MG) desde 2010, organizado pelo Instituto de Formação de Líderes de Belo Horizonte (IFL/BH). Nossa inspiração para a realização do evento foi o Fórum da Liberdade, que ocorre desde 1988 em Porto Alegre, produzido pelo Instituto de Estudos Empresariais (IEE). 
  </p>
  <p itemprop="description">O tema para o <b>2o Fórum Liberdade e Democracia SP</b> será <b>"O Brasil que dá certo"</b>. O Brasil que dá certo é o Brasil empreendedor! Reuniremos grandes empreendedores e especialistas para discutir a importância de um ambiente de ampla liberdade econômica e de que forma os empreendedores são a melhor forma de resolver os problemas da sociedade e levar este país um passo adiante.</p>
</article>