/*
*= require_tree .
*= require_self
*/

.admin-login{
  width: 278px;
  float: left;
  position: relative;
  margin-left: 5px;
  margin-right: 5px;
}

.navbar-form{
  padding: 0px 0px;
  margin-bottom: 20px;
}