<div class="row">
  <div class="col-md-8">
    <h3><%= t :users, count: @users.total_count %></h3>
  </div>

  <div class='col-md-4'>
    <form class="navbar-form navbar-right" role="search" action="<%= search_publisher_users_path %>" method="get">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Nome/E-mail/Empresa" name="query" value="<%= params[:query] %>">
      </div>
      <button type="submit" class="btn btn-default">Buscar</button>
    </form>
  </div>
</div>