<tr>
  <td> <%= user.name %></td>
  <td> <%= user.email %></td>
  <td> <%= user.phone.present?? user.phone : '---' %></td>
  <td> <%= user.company %></td>
  <td> <%= t user.newsletters.to_s, scope: [:newsletters, :answer] %></td>
  <td> <%= t user.want_to_attend.to_s, scope: [:want_to_attend] %></td>
  <td> <%= check_box_tag "user[attended]", true, user.attended, data: {id: user.id} %> </td>
  <td> <%= link_to "Remover", publisher_user_path(user), data: {confirm: 'Tem certeza que deseja remover usuário?'}, method: :delete %></td>
</tr>
