<%= render partial: 'search_box' %>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Email</th>
      <th>Telefone</th>
      <th>Empresa/Instituição de Ensino</th>
      <th>Newsletters?</th>
      <th><%= link_to "Prentende Comparecer?", filter_publisher_users_path(by_want_to_attend: true) %></th>
      <th><%= link_to "Compareceu", filter_publisher_users_path(by_attended: true) %></th>
      <th>&nbsp;</th>
    </tr>
  </thead>

  <tbody>
    <%= render partial: 'user', collection: @users %>
  </tbody>
</table>

<%= paginate @users %>
