<section id="sign-up">
  <%= render partial: 'message' %>

  <h2>inscrição</h2>

  <%= simple_form_for(@user) do |f|%>
    <%= f.input :name, wrapper_html: { class: 'input-wrapper large' }%>

    <%= f.input :phone, as: :string, wrapper_html: { class: 'input-wrapper large' }, input_html: {class: 'tel'}%>

    <%= f.input :email, wrapper_html: { class: 'input-wrapper large' }%>

    <%= f.input :company, wrapper_html: { class: 'input-wrapper large' }%>

    <p class="large">
      <input checked="checked" class="boolean optional" id="user_newsletters" name="user[newsletters]" type="checkbox" value="1" checked="true">
      <label for="newsletter" class="chk-newsletter">Desejo receber newsletter</label>
    </p>

    <div class='input-wrapper medium'>
      <%= f.button :submit, 'Cadastrar', 'data-disable-with' => '...' %>
    </div>
  <% end -%>
  <%= render 'layouts/date_local' %>
</section>
