@import "base";

footer{
  @include grid(20);
  margin-top: 60px;
  margin-bottom: 20px;
  border-top: 5px solid $purple_dk;
  text-align: center;
  font-size: 13px;
  color: $purple_dk;
  padding: 5px 0;

  h5{
    font-size: 15px;
    color: $purple_dk;
    font-weight: $bold;
    text-transform: uppercase;
  }

  h6{
    font-weight: 400;
    font-size: 13px;
    border-top: 5px solid $purple_dk;
    @include grid(20);
    @include alpha;
    @include omega;
    padding-top: 10px;
  }
}

footer .companies{
  @include grid(8);
  @include alpha;
  @include push(6);
  padding-bottom: 20px;

  ul{
    @include clearfix;

    li{
      @include grid(4);
      border-top: 1px solid $purple_dk;
      text-align: center;
      min-height: 134px;
      line-height: 134px;

      img{
        vertical-align: middle;
        max-height: 134px;
      }

      &:first-child{
        @include alpha;
      }

      &:last-child{
        @include omega;
      }
    }
  }

  &.sponsors{
    li{
        padding-top: 20px;
        margin-bottom: 20px;
        
      &:nth-child(3n){
        @include omega;
      }
    }
  }

  &.supporters{
    @include grid(12);
    @include omega;
    @include push(4);
    @include alpha;
    clear: left;
    
    li{
      line-height: 95px;
      height: 106px;
      margin-bottom: 20px;

      &.large{
        @include grid(4);
      }

      &.extra_large{
        @include grid(9);
      }

      &:nth-child(4n){
        @include omega;
      }
      &:first-child{
        @include alpha;
      }
      &:nth-child(4n+1){
        clear: left;
        @include alpha;
      }
    }
  }

  &.partners{
    @include grid(12);
    @include push(4);
    @include alpha;

    li{
      margin-bottom: 20px;

      &:nth-child(4n){
        @include omega;
      }
      &:first-child{
        @include alpha;
      }
      &:nth-child(4n+1){
        clear: left;
        @include alpha;
      }
    }
  }

  &.supporters,
  &.partners{
    h5{
      font-size: 12px;
      font-weight: 600;
    }

    li{
      @include grid(3);
      min-height: 95px;
      padding: 5px 0;

    }

    img{
      max-height: 95px;
    }
  }
}