<section id="contact">
  <h2>contato</h2>

  <article>
    <p>Agradecemos seu interesse pelo 2º Fórum Liberdade e Democracia SP. No caso de dúvidas e mais informações, entre em contato conosco através do site.</p>

    <p>Secretaria Executiva</p>

    <p>E-MAIL: <a href="mailto:inscricoes@iflsp.org">inscricoes@iflsp.org</a></p>
  </article>

  <%= form_tag(contact_visitors_path) do%>
    <p class="large">
      <label>Nome Completo</label>
      <input type="text" required="true" name="name">
    </p>

    <p class="large">
      <label>Telefone</label>
      <input type="text" required="true" name="telephone" class="tel">
    </p>
    
    <p class="large">
      <label>E-mail</label>
      <input type="email" required="true" name="email">
    </p>

    <p class="large">
      <label>Mensagem</label>
      <textarea required="true" name="message"></textarea>
    </p>

    <p class="large">
      <%= submit_tag 'Enviar', 'data-disable-with' => '...' %>
    </p>
  <% end -%>

</section>