<section id="sign-up">
  <h2>inscrição</h2>

  <form action="inscricao_submit" method="get" accept-charset="utf-8">
    <p class="large">
      <label>Nome Completo</label>
      <input type="text" name="name">
    </p>

    <p class="medium">
      <label>CPF</label>
      <input type="text" name="CPF" class='cpf'>
    </p>
    
    <p class="medium">
      <label>RG</label>
      <input type="text" name="RG">
    </p>

    <p class="large">
      <label>E-mail</label>
      <input type="text" name="email">
    </p>

    <p class="large">
      <label>Empresa / Instituição de Ensino</label>
      <input type="text" name="job">
    </p>

    <p class="large">
      <input type="checkbox" id="newsletter" name="newsletter">
      <label for="newsletter" class="chk-newsletter">Desejo receber newsletter</label>
    </p>

    <p class="medium">
      <input type="submit" name="submit" value="Cadastrar">
    </p>
  </form>
</section>

<%= render 'layouts/date_local' %>