<article class='award large'>
  <h2>Prêmio Liberdade</h2>
  <figure>
    <%= image_tag('palestrantes/flavio_augusto.png', alt: 'Flavio Augusto receberá o Prêmio Liberdade') %>
  </figure>
  <section class='text'>
      <h3>Flávio Augusto</h3>
      <p>Nascido e criado na periferia do Rio de Janeiro, estudou grande parte do tempo e uma escola pública em seu bairro. Aos 19 anos começou a trabalhar no departamento comercial de uma escola de inglês com a intenção de ter sua própria renda. Depois de algum tempo, trancou a faculdade no curso de Ciências da Computação na Universidade Federal Fluminense e passou a dedicar-se 100% a sua carreira. Foi então que, aos 23 anos de idade, Flávio fundou a WiseUp, usando como capital inicial, R$ 20 mil reais de seu cheque especial a um custo de 12% de juros ao mês. Em 18 anos, a empresa expandiu e tornou-se uma holding avaliada em cerca de R$ 1 bilhão, valor este pago pelo Grupo Abril Educação em fevereiro de 2013, quando adquiriu a holding. Em 2013 Flávio comprou um clube de futebol profissional nos EUA, o Orlando City Soccer Club, na cidade de Orlando. Neste mesmo ano, o Orlando City passou a integrar a MLS - Major League Soccer, elite do futebol norte-americano.</p>
  </section>
</article>
<section id="speakers">
  <h2>Palestrantes</h2>

  <article class="first first-line">
    <h3>Abilio Diniz <i>(Keynote Speaker)</i></h3>

    <figure>
      <%=image_tag('palestrantes/abilio_diniz.jpg', alt: 'Abilio Diniz')%>
    </figure>
    <p>Abilio Diniz é presidente do Conselho de Administração da Península Participações, empresa de investimentos de sua família. Atualmente, Abilio também é presidente do Conselho de Administração da BRF e membro do Conselho de Administração do Carrefour Brasil. Formado em Administração de Empresas pela Fundação Getúlio Vargas foi, ao lado de seu pai, responsável pela criação e desenvolvimento do Grupo Pão de Açúcar, empresa da qual foi presidente do Conselho de Administração até setembro de 2013. Abilio teve também uma participação no governo, entre 1979 e 1989, como membro do Conselho Monetário Nacional. Em 2004, lançou o livro Caminho e Escolhas, e, em 2009, o site <a href="www.abiliodiniz.com.br">www.abiliodiniz.com.br</a>. Desde 2010, ministra o curso Liderança 360º em parceria com a Fundação Getúlio Vargas (FGV), dedicado à formação de jovens líderes.</p>  
  </article>

  <article class="second first-line">
    <h3>David Friedman</h3>
    <figure>
      <%=image_tag('palestrantes/david_friedman.jpg', alt: 'David Friedman')%>
    </figure>
    <p>David Director Friedman nasceu em 1945 em Chicago, Illinois. Filho dos economistas Milton Friedman e Rose Friedman, formou-se em 1965 em Química e Física pela Universidade de Harvard com grandes honras (magna cum laude). Obteve ainda título de Mestre e PhD em física pela Universidade de Chicago (1967 e 1971). Autor do best-seller The Machinery of Freedom e de inúmeros outros artigos, publicações e livros, focou sua carreira na defesa das liberdades, com notável atuação intelectual e acadêmica em teorias político-econômicas. Lecionou em renomadas Universidades como Columbia University, Cornell, UCLA, University of Chicago, e atualmente é professor na School of Law - Santa Clara University.</p>  
  </article>

  <article class="third first-line">
    <h3>Paulo Guedes</h3>
    <figure>
      <%=image_tag('palestrantes/paulo_guedes.jpg', alt: 'Paulo Guedes')%>
    </figure>
    <p>Paulo Guedes é  sócio da Bozano Investimentos, onde atua como chairman of the board. Paulo possui um Phd em economia pela Universidade de Chicago, e tem atuado com relevância no cenário de negócios no Brasil tanto no Mercado de Capitais quanto no Setor Educacional.</p>  
    <p>No mercado de capitais foi um dos quatro fundadores do Banco Pactual que se tornou o maior banco de investimentos privado do Brasil. Foi um dos fundadores da BR Investimentos que deu origem à Bozano Investimentos mediante uma operação de fusão com outras gestoras de recursos.</p>
    <p>No setor educacional foi CEO e sócio controlador do IBMEC, que foi pioneiro na introdução dos MBAs no Brasil, e foi responsável por diversas outras inovações no setor de ensino nas áreas de Business & Law. Atuou como professor de economia no IMPA, PUC-Rio e na FGV, e foi consultor estratégico em diversas companhias no setor de educação. Na BR Investimentos criou uma área dedicada a investimentos no setor educacional e estruturou o fundo BR Educacional, o primeiro fundo de private equity no Brasil dedicado a investimentos nesse setor.</p>
    <p>Paulo Guedes escreve um artigo semanal para o jornal O Globo.</p>

  </article>

  <article class="first second-line">
    <h3>Gustavo Franco</h3>
    <figure>
      <%=image_tag('palestrantes/gustavo_franco.jpg', alt: 'Gustavo Franco')%>
    </figure>
    <p>Gustavo Franco é bacharel e mestre em economia pela PUC do Rio de Janeiro e Ph.D pela Universidade de Harvard. É estrategista-chefe da Rio Bravo e presidente do Instituto Millenium.</p>

    <p>Foi professor, pesquisador e consultor em assuntos de economia, durante 1986-93, especializando-se em inflação, estabilização e economia internacional. Em seguida, no serviço público, durante 1993-99, foi Secretário de Política Econômica (adjunto) do Ministério da Fazenda, Diretor de Assuntos Internacionais e Presidente do Banco Central do Brasil. Teve participação central na formulação, operacionalização e administração do Plano Real, entre outras atividades.
    </p>
    <p>Após ano sabático na universidade (1999), fundou a Rio Bravo Investimentos (2000), empresa de serviços financeiros, fusões, aquisições, investimentos e securitizações, onde atualmente tem a sua ocupação principal. Em paralelo mantém alguma atividade acadêmica (aulas e pesquisas) e escreve para jornais e revistas. </p>
  </article>
  
  <article class="second second-line">
    <h3>Eric Acher</h3>
    <figure>
      <%=image_tag('palestrantes/eric_acher.jpg', alt: 'Eric Acher')%>
    </figure>
    <p>Sócio-fundador da Monashees Capital, gestora de fundos de Venture Capital com foco em start-ups de tecnologia brasileiras, desde 2005Eric vem apoiando empreendedores de alto impacto na criação de mais de 30 empresas inovadoras, entre as quais Oppa, 99Taxis, EduK, Peixe Urbano, Elo7, Mind Lab, Conta Azul, Enjoei e Runrun.it. A Monashees possui parcerias com os principais fundos de Venture Capital do Vale do Silício e é a única gestora da América Latina integrante do Forum Econômico Mundial.</p>  

    <p>Antes de fundar a Monashees, atuou em private equity na General Atlantic e em consultoria estratégica na McKinsey. Pós-graduado em Administração pela Fundação Getúlio Vargas e formado em Comunicação pela ESPM, Eric possui MBA pela Kellogg School of Management.</p>  

    <p>Escritor nas horas vagas, Eric é autor do argumento da graphic novel V.I.S.H.N.U., primeira obra de ficção científica publicada pela Cia. das Letras em 2012.</p>  
  </article>

  <article class="third second-line">
    <h3>Claudio Sassaki</h3>
    <figure>
      <%=image_tag('palestrantes/claudio_sassaki.jpg', alt: 'Claudio Sassaki')%>
    </figure>
    <p>Formado em Arquitetura e Urbanismo pela USP, trabalhou por dois anos em consultoria na área. Possui MBA e Mestrado em Educação por Stanford. Passou cinco anos morando em Nova York trabalhando em ininstituições financeiras. Voltou para o Brasil em 2007, como vice-presidente do banco de investimentos Credit Suisse e depois assumiu o mesmo cargo no Goldman Sachs. Foi também diretor financeiro da Petra Energia. É sócio fundador da Geekie, start-up de aprendizado adaptativo que personaliza o ensino por meio da tecnologia.</p>  
  </article>

  
  <article class="first third-line">
    <h3>Denis Cruz</h3>
    <figure>
      <%=image_tag('palestrantes/denis_cruz.jpg', alt: 'Denis Cruz')%>
    </figure>
    <p>Fundador da Clinica SiM em 2007, Denis Cruz Denis é Administrador de Empresas pela Universidade Federal do Ceará e MBA pela Stanford Graduate School of Business, tendo sido agraciado por esta universidade com um Certificate in Public Management and Social Innovation.</p>
    <p>Após 8 anos trabalhando na área médico-hospitalar, Denis fundou em 2007 a Clínica SiM (Serviço de Inclusão à Medicina), uma rede de clínicas populares próprias e franqueadas que faz mais de 14 mil atendimentos por mês em suas 6 unidades. Baseada em Fortaleza/CE, a Clínica SiM acabou de fechar uma rodada de investimento Series A que a possibilitará atingir 63 unidades em 5 anos, com foco no Norte e Nordeste do Brasil.</p>
  </article>

  <article class="second third-line">
    <h3>Helio Beltrão</h3>
    <figure>
      <%=image_tag('palestrantes/helio_beltrao.jpg', alt: 'Helio Beltrão')%>
    </figure>
    <p>Graduado em finanças com MBA pela Universidade de Columbia, em Nova Iorque. É fundador do Instituto Millenium e presidente do Instituto Mises Brasil. Foi executivo do Banco Garantia e atuou como gestor de fundos e consultor financeiro na Mídia Investimentos e Sextante Investimentos. . Também é membro do conselho de administração do Grupo Ultra e da Metalfrio.</p>
  </article>

</section>

