<section id="programming">
  <h2>programação</h2>

  <article>
    <table>
      <tbody>
        <tr>
          <td>14:00</td>
          <td>Credenciamento e Recepção</td>
        </tr>
        <tr>
          <td>15:30</td>
          <td>Cerimônia de Abertura</td>
        </tr>
        <tr>
          <td>15:50</td>
          <td>Keynote Speaker: Abílio Diniz</td>
        </tr>
        <tr>
          <td>16:30</td>
          <td>Painel 1: Liberdade para Empreender</br>
            <i>(David Friedman, Gustavo Franco, Paulo Guedes)</i> 
          </td>
        </tr>
        <tr>
          <td>17:40</td>
          <td>Liberdade em Palavras 1</td>
        </tr>
        <tr>
          <td>17:50</td>
          <td>Liberdade em Palavras 2</td>
        </tr>
        <tr>
          <td>18:00</td>
          <td>Painel 2: Soluções Privadas, Benefícios Públicos</br>
            <i>(Claudio Sassaki, Denis Cruz, Eric Acher)</i></td>
        </tr>
        <tr>
          <td>19:10</td>
          <td>Liberdade em Palavras 3</td>
        </tr>
        <tr>
          <td>19:20</td>
          <td>Liberdade em Palavras 4</td>
        </tr>
        <tr>
          <td>19:30</td>
          <td>Homenagem Prêmio Liberdade: Flávio Augusto</td>
        </tr>
        <tr>
          <td>20:00</td>
          <td>Encerramento do Evento + Acadêmicos de Milton Friedman</br>
            <i>(Nos ajude a trazer a banda Acadêmicos de Milton Friedman <a href="https://partio.com.br/projeto/2-forum-liberdade-e-democracia-2015/" target="_blank">aqui</a>!)</i>
          </td>
        </tr>
      </tbody>
    </table>
  </article>
  
  <%= render 'layouts/date_local' %>
</section>
