@import "base";

$alert-purple-background: #DECCE5;
$alert-purple-border: #9E66B1;
$alert-purple-text: #414042;

.alert{
  &.alert-purple{
    background: $alert-purple-background;
    color: $alert-purple-text;
    border-color: $alert-purple-border;
  }
}