@import "base";

.award{
  @include grid(12);
  margin-bottom: 30px;

  h2{
    color: $purple_dk;
    border-color: $purple_dk;
    margin-bottom: 20px;
  }

  h3{
      color: $purple_dk;
      font-weight: $normal;
      font-size: 19px;
      text-transform: uppercase;
  }

  figure{
    @include grid(3);
    @include alpha;
  }

  .text{
    @include grid(9);
    @include omega;

    p{
      margin-top: 5px;
    }
  }

  &.large{
    @include grid(20);
    margin-top: 5px;

    .text{
      @include grid(16);
      @include push(1);
      @include omega;

      p{
        margin-top: 5px;
      }
    }
  }
}