@import "base";

.banners{
  @include grid(20);
  border-top: 2px solid $blue;
  margin-top: 0;
  margin-bottom: 40px;

  article{
    width: 100%;
    float: left;
    min-height: 346px;
  }

  a.sign-up{
    color: #fff;
    background: $purple_dk;
    text-align: center;
    text-transform: uppercase;
    font-weight: $light;
    font-size: 40px;
    display: block;
    width: 100%;
  }

  a.arrow{
    position: absolute;
    top: 50%;
    z-index: 1000;
    font-size: 20px;
    color: $purple_dk;

    &.next{
      right: 3px;
    }
    &.prev{
      left: 3px;
    }
    &:hover{
      color: lighten($purple_dk, 20%);
    }
  }
}