//grid-config
$grid_width: 38px;
$grid_cutter: 10px;

//font-config
$font_size_base: 15;
$light: 300;
$normal: 400; 
$bold:  700;

//colors
$grey_dk: #414042;
$purple_dk: #3F223A;
$beige: #C5A562;
$blue: #98B9C0;
$orange: #EE6C23;

@mixin grid($size){
  $width: ($grid_width * $size) + ($grid_cutter * ( $size - 1) );
  width: $width;
  float: left;
  position: relative;
  margin-left: $grid_cutter / 2;
  margin-right: $grid_cutter / 2;
}

@mixin grid_table($size){
  $width: ($grid_width * $size) + ($grid_cutter * ( $size - 1) );
  width: $width;
  margin-left: $grid_cutter / 2;
  margin-right: $grid_cutter / 2;
  float: none;
}


@mixin push($columns) {
  position: relative;
  left: $columns*($grid_width + $grid_cutter);
}

@mixin alpha{
  margin-left: 0px;
}

@mixin omega{
  margin-right: 0px;
}

@mixin font_size($size){
  font-size: #{$size/$font_size_base}em;
}

@mixin container($width:960px){
  width: $width;
  margin: auto;
  @include clearfix;
}

@mixin clearfix {
    zoom:1;
    &:before, &:after {
        content: "\0020"; 
        display: block; 
        height: 0; 
        overflow: hidden; 
    }
    &:after {
        clear: both;
    }
}

body{
  @include container;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  font-weight: $normal;
  color: #414042;
}

ul{
  list-style: none;
  padding: 0;
}

h2{
  color: $orange;
  font-weight: $normal;
  text-transform: uppercase;
  font-size: 25px;
  padding: 7px 0 8px 20px;
  margin: 0; 
  border-left: solid 1px $orange;
  border-bottom: solid 1px $orange;
}

p{
  margin: 0;
}

img{
  max-width: 100%;
}

section{
  margin: 0;
  padding: 0;
}

article{
  margin: 0;
  padding: 0;
}

form{
  div.input-wrapper{
    margin-top: 15px;

    &.large{
      @include grid (8);
      @include alpha;
    }

    &.medium{
      @include grid (6);
      @include alpha;
    }
  }
  p{
    margin-top: 15px;
    float: left;

    &.large{
      @include grid (8);
      @include alpha;
    }

    &.medium{
      @include grid (6);
      @include alpha;
    }
  }
  
  label{
    font-weight: $bold;
    margin: 0;

    &.chk-newsletter{
      font-weight: $normal;
      margin-left: 5px;
    }
  }

  .help-inline{
    color: red;
    font-size: 13px;
  }

  input[type="text"],
  input[type="email"],
  textarea{
    border: none;
    color: $grey_dk;
    background: #E6E7E8;
    padding: 5px;
    margin: 5px 0 0 0;
    width: 100%;
  }

  input[type="submit"]{
    @include grid(3);
    @include alpha;
    margin-top: 10px;
    border: none;
    color: #fff;
    background: $purple_dk;
    padding: 10px 0;

    &:hover{
      background: #55334E;
    }
  }
}