@import "base";

$certificate_title: #8cafb8;

#certificate{
  position: relative;

  header{
    margin: 0px;
    padding: 0px;
    border: none;
  }
  
  h2{
    position: absolute;
    text-transform: capitalize;
    text-align: center;
    font-size: 20px;
    top: 287px;
    width: 542px;
    margin: 0px;
    padding: 0px;
    font-weight: 700;
    border: 0px;
    left: 330px;
    color: $grey_dk;
  }

  h1, h2 , h3, h4, p.text{
    position: absolute;
    width: 542px;
    left: 330px;
  }

  h1{
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 300;
    letter-spacing: 0px;
    top: 24px;
    text-align: center;
    color: $purple_dk;
  }

  h3{
    text-align: center;
    top: 55px;
    font-size: 24px;
    color: $purple_dk;
  }

  h4{
    color: $certificate_title;
    text-transform: uppercase;
    text-align: center;
    top: 147px;
    font-size: 31px;
    font-weight: 600;
  }

  p.text{
    color: $grey_dk;
    font-size: 12px;

    &.first-line{
      top: 247px;
    }

    &.second-line{
      top: 330px;
    }

    &.date{
      top: 384px;
      text-align: right;
    }
  }

  footer{
    text-align: center;
    border: none;
    margin-top: 20px;

    a.print{
      background: $purple_dk;
      color: #fff;
      font-size: 14px;
      padding: 5px 10px;
    }
  }
}

@media print {
  #certificate{
    margin-top: 1cm;
    h1, h3{
      color: $purple_dk !important;
    }

    h4{
      color: $certificate_title !important;
    }

    h2, p.text{
      color: $grey_dk !important;
    }
    footer{
      display: none;
    }
  }
}