@import "base";

#contact{
  @include grid(20);

  article{
    @include grid(12);
    @include alpha;
  }

  p{
    margin-top: 15px;
  }

  a{
    color: $purple_dk;
    font-weight: $bold;
  }

  form{
    @include grid(7);
    @include omega;
  }
}