@import "base";

#date-local{
  @include grid(7);
  @include push (1);
  border-bottom: 1px solid $orange;
  padding-bottom: 15px;
  background: #F3EDE0;

  p{
    margin: 15px 20px 0 20px;
  }

  h2{
    background: $orange;
    color: #fff;
  }
}