@import "base";

article{
  margin-top: 40px;

  p{
    margin-top: 15px;
  }
}

.about{
  @include grid(12);
  padding-bottom: 15px;
  border-bottom: 1px solid $orange;
}

.last-news{
  @include grid(7);
  @include push(1);
  float: right;

  ul{
    margin: 15px 0 0 0;

    li{
      border-bottom: 1px solid #D1D3D4;
      padding-bottom: 5px;
      margin-top: 15px;

      &:first-child{
        margin-top: 0;
      }
      
      a{
        font-weight: $bold;
        color: $grey_dk;
      }
    }
  }

  a.more-news{
    margin-top: 11px;
    padding: 1px 0 1px 0;
    display: block;
    background: $orange;
    color: #fff;
    font-weight: $light;
    font-size: 13px;
    text-align: center;
  }
}