@import "base";

#notices{
  @include grid(20);

  article{
    @include grid(10);
    font-size: 15px;

    li{
      list-style: none;
      border-bottom: 1px solid lighten($grey_dk, 50%);
      margin-top: 10px;
      padding-bottom: 5px;

      a{
        color: $grey_dk;
        font-weight: $bold;
      }
    }

    &.left{
      @include alpha;
    }
    &.right{
      @include omega;
    }
  }
}