@import "base";

#sign-up{
  @include grid(20);
  border-bottom: 1px solid $orange;
  padding: 0 0 20px 0;

  form{
    @include grid(8);
    @include alpha;
  }

  #date-local{
    @include push(5);
    margin-top: 21px;
  }
}