@import "base";

#speakers{
  @include grid (20);

  article{
    @include grid(6);
    border-bottom: 1px solid $purple_dk;
    padding-bottom: 15px;
    margin-bottom: 15px;

    &.first-line{
      min-height: 780px;
    }    

    &.second-line{
      min-height: 663px;
    }

    &.third-line{
      min-height: 506px;
    }

    h3{
      color: $purple_dk;
      font-weight: $normal;
      font-size: 19px;
      text-transform: uppercase;

      i{
        font-size: 14px;
        font-weight: bold;
      }
    }

    p{
      font-size: 13px;
      line-height: 21px;
      margin-top: 0px;
      margin-bottom: 10px;
    }

    &.first{
      @include alpha;
      clear:left;
    }

    &.second{
      @include push(1);
    }

    &.third{
      @include push(2);
      @include omega;
    }

    figure{
      @include grid(2);
      @include alpha;
      margin-right: 10px;
      margin-bottom: 5px;

      background: #F3EDE0;
      text-align: center;

      img{
        max-width: 100%;
      }
    }
  }

}