@import "base";

$table-text: #593166;
$table-background: #EFEBEC;

#programming{
  @include grid(20);
  border-bottom: 1px solid $orange;
  padding-bottom: 20px;

  article{
    @include grid(12);
    @include alpha;

    table{
      margin-top: 20px;
      width: 100%;

      tr{
        color: $table-text;
        background: $table-background;
        font-weight: $bold;
        font-size: 15px;
        text-align: center;

        td{
          padding: 5px 0;
          border-bottom: 10px solid #fff;

          &:first-child{
            @include grid_table(3);
            @include alpha;
            @include omega;
          }

          &:last-child{
            @include grid_table(9);
            width: 432px;
            @include alpha;
            @include omega;
            border-left: 10px solid #fff;
          }
        }
      }
    }
  }

  #date-local{
    margin-top: 20px;
  }
}