<section id="date-local">
  <h2>data / local / hora</h2>

  <p><strong>Dia 19 de Outubro de 2015</strong></p>
  <p>15:30 às 20:00</p>

  <p><strong><a href="https://www.google.com.br/maps/place/Teatro+Renault/@-23.5541468,-46.6383263,16z/data=!4m2!3m1!1s0x94ce59ac3b86967f:0x6f5042e4d9e5086" target="_blank">Teatro Renault</a></strong> <br>
  Av. Brigadeiro Luis Antonio, 411<br>
  Bela Vista/SP</p>

  <p><strong>14h00 Credenciamento e Recepção</strong><br>
   15h30 Cerimônia de Abertura</p>

</section>