<footer>
  <section class='companies sponsors'>
    <h5>Apresentadores:</h5>
    <ul>
      <li><%= image_tag('pat-suzano2.jpg') %></li>
      <li><%= image_tag('pat-pottencial.jpg') %></li>
    </ul>
  </section>
  <section class='companies supporters'>
    <h5>Apoiadores:</h5>
    <ul>
      <li><%= image_tag('pat-ceratti.jpg') %></li>
      <li><%= image_tag('pat-evora.jpg') %></li>
      <li><%= image_tag('pat-furdie.jpg') %></li>
      <li><%= image_tag('pat-gerdau.jpg') %></li>
      <li class='extra_large'><%= image_tag('logo_gwc.jpg') %></li>
      <li><%= image_tag('pat-porto-seguros.jpg') %></li>
    </ul>
  </section>
  <section class='companies partners'>
    <h5>Parceiros:</h5>
    <ul>
      <li><%= image_tag('pat-capitalismo-conciente.jpg') %></li>
      <li><%= image_tag('pat-da-insper.jpg') %></li>
      <li class='large'><%= image_tag('pat-estudantes-pelaliberdade.jpg') %></li>
      <li><%= image_tag('pat-iee.jpg') %></li>
      <li><%= image_tag('pat-il.jpg') %></li>
      <li class='large'><%= image_tag('pat-milenium.jpg') %></li>
      <li><%= image_tag('pat-lideres-de-amanha.jpg') %></li>
      <li><%= image_tag('pat-makenzie.jpg') %></li>
      <li><%= image_tag('pat-mises-brasil.jpg') %></li>
      <li><%= image_tag('pat-rede-liberdade.jpg') %></li>
      <li><%= image_tag('pat-srb.jpg') %></li>
    </ul>
  </section>
  <h6>
    <span itemprop="name">2º Fórum Liberdade e Democracia SP </span>
    - Instituto de Formação de Líderes - Dia 19 de Outubro de 2015</h6>
</footer>