<header>
  <h1>
    <%=link_to image_tag('2_forum_logo.jpg', alt: 'Forum Liberdade e Democracia', class: 'ex', itemprop: "image"), root_path, class: 'bla'%>  
    <div class="button_inscricao">
    <%=link_to 'Inscreva-se'   , 'https://docs.google.com/forms/d/1R0eGJmy4VXpqmSNCwQn0-88yUfxkNeTZ1-dmciECD70/viewform' , target: '_blank' %>
    </div>
  </h1>

  <ul>
    <li><%=link_to 'Programação' , '/programacao', data: {active: current_page?('/programacao')}%></li>
    <li><%=link_to 'Crowdfunding: faça o Fórum com a gente!'   , 'https://partio.com.br/projeto/2-forum-liberdade-e-democracia-2015/' , target: '_blank' %></li>
    <li><%=link_to 'Palestrantes', 'palestrantes', data: {active: current_page?('/palestrantes')}%></li>
    <li><%=link_to 'Notícias'    , news_path     , data: {active: current_page?('/noticias')} %></li>
    <li><%=link_to 'Inscrição'   , 'https://docs.google.com/forms/d/1R0eGJmy4VXpqmSNCwQn0-88yUfxkNeTZ1-dmciECD70/viewform' , target: '_blank' %></li>
    <li><%=link_to 'Contato'     , '/contato'    , data: {active: current_page?('/contato')}%></li>
  </ul>

  <section class="social">
    <p>nos acompanhe:</p>
    <%=link_to image_tag('icon-facebook.jpg', alt: 'Facebook'), 'https://www.facebook.com/pages/F%C3%B3rum-Liberdade-e-Democracia-SP/1511251855756392?fref=ts', target: 'blank' %>
  </section>
    <%=link_to image_tag('logo-ifl.jpg', alt: 'Instituto de Formação de Líderes', class: 'logo-ifl'), "http://www.iflsp.org", target: 'blank' %>
    
  <section class="local-date">
    <b itemprop="startDate" content="2015-10-19">19 de Outubro de 2015</b>
    <p>15:30 às 20:00</p>
    <p itemprop="location" itemscope itemtype="http://schema.org/Place">
      <span itemprop="name">Teatro Renault </span> - 
      <span itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
        <span itemprop="streetAddress">Av. Brigadeiro Luis Antonio, 411 </span> - 
        <span itemprop="addressLocality">Bela Vista / SP</span>
      </span>
    </p>
  </section>

</header>
