<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Forum Liberdade Democracia" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Forum Liberdade Democracia" %>">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700,600,800' rel='stylesheet' type='text/css'>
    <link rel="icon" type="image/ico" href="<%= image_url('favicon.ico') %>">
    <%= stylesheet_link_tag 'application', media: 'all'%>
    <%= csrf_meta_tags %>


    <!-- Facebook Pixel Code -->
    <script>
    !function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
    n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
    n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
    t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
    document,'script','//connect.facebook.net/en_US/fbevents.js');

    fbq('init', '1664024053854257');
    fbq('track', "PageView");</script>
    <noscript><img height="1" width="1" style="display:none"
    src="https://www.facebook.com/tr?id=1664024053854257&ev=PageView&noscript=1"
    /></noscript>
    <!-- End Facebook Pixel Code -->

    <!-- Código do Google para tag de remarketing -->
    <script type="text/javascript">
    /* <![CDATA[ */
    var google_conversion_id = 939524767;
    var google_custom_params = window.google_tag_params;
    var google_remarketing_only = true;
    /* ]]> */
    </script>
    <script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
    </script>
    <noscript>
    <div style="display:inline;">
    <img height="1" width="1" style="border-style:none;" alt="" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/939524767/?value=0&amp;guid=ON&amp;script=0"/>
    </div>
    </noscript>

  </head>
  <body itemscope itemtype="http://schema.org/Event">
    <%= render 'layouts/messages' %>
    <%= render 'layouts/header' %>

    <%= yield %>

    <%= render 'layouts/footer' %>
    <%= render 'layouts/analytics' if Rails.env.production? %>

    <%= javascript_include_tag 'application' %>
    <%= javascript_include_tag '/grid.js' if Rails.env.development? %>
  </body>
</html>
