<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Forum Liberdade Democracia" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Forum Liberdade Democracia" %>">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700,600,800' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag 'application', media: 'all'%>
    <%= csrf_meta_tags %>
  </head>
  <body itemscope itemtype="http://schema.org/Event">
    <%= yield %>

    <%= javascript_include_tag 'application' %>
  </body>
</html>
