<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Forum Liberdade Democracia" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Forum Liberdade Democracia" %>">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700,600,800' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag 'publisher/publisher', media: 'all' %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <%= render 'layouts/messages' %>

    <div class="navbar navbar-inverse" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

          <%= link_to "Fórum Liberdade e Democracia", publisher_users_path, class: 'navbar-brand' %>
        </div>
        <% if admin_signed_in? %>
          <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
              <li class='<%= active?('inscricoes') %>'>
                <%= link_to "Inscrições", publisher_users_path %>
              </li>

              <li class='<%= active?('noticias') %>'>
                <%= link_to "Notícias", news_index_path %>
              </li>
              <li>
                <%= link_to "Logout", destroy_admin_session_path, method: :delete %>
              </li>
            </ul>
          </div><!--/.nav-collapse-->
        <% end %>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <%= yield %>
      </div>
    </div><!--/.container-->

    <%= javascript_include_tag 'publisher/publisher.js' %>
    <%= javascript_include_tag '/grid.js' if Rails.env.development? %>
  </body>
</html>

